doctype html(lang='en')
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
    link(rel='stylesheet', type='text/css', href='/css/magnific-popup.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.0.min.js ')
    script(type='text/javascript', src='https://code.jquery.com/ui/1.11.2/jquery-ui.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')
    script(type='text/javascript', src='/js/jquery.geocomplete.js') 
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/mapmarker.jquery.js')
    script.
      var visitsToCityMap = "!{visitsToCityMap}";
      var destination = "!{destination}";      
      var restaurant_list = !{restaurants};
      var attraction_list = !{attractions};
      var restaurantCategory = "!{restaurantCategory}";
      var attractionCategory = "!{attractionCategory}";    
    script(type='text/javascript', src='/js/script.js')
    script(type='text/javascript', src='/js/cityMap.js')
    script(type='text/javascript', src='/js/jquery.magnific-popup.min.js')
    title The Dangling Traveler
  body
    #container
      .cityMap
      .cityMapOptions
        form(name = "restaurantSearchForm", method = "get", onsubmit = "return restaurantSubmitForm();")
          input(id = "restaurantCategory", type = "text", name = "restaurantCategory", placeholder = "Search for restaurants")
          input.btn.btn-primary(type = "submit", value = "Search!")
        form(name = "attractionSearchForm", method = "get", onsubmit = "return attractionSubmitForm();")
          input(id = "attractionCategory", type = "text", name = "attractionCategory", placeholder = "Search for attractions")
          input.btn.btn-primary(type = "submit", value = "Search!")
        .dropdown
        button.btn.btn-primary.backToUSMap(type='button') Back
          

